alembic==1.17.2
fastapi==0.127.0
geopy==2.4.1
httpx==0.28.1
passlib==1.7.4
psycopg2-binary==2.9.11
pydantic-settings==2.12.0
pytest==9.0.2
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.21
sqlalchemy==2.0.45
uvicorn==0.40.0

